.menu-text {
  color: #f17228;
}
.canvasline {
  border-top: 1px solid;
  color: #f17228;
}
.btn {
  background-color: #f17228;
  color: white;
}
.counter {
  text-align: center;
  font-weight: bold;
  color: #f17228;
  background-color: #f172281c;
  font-size: 1em;
  line-height: 2em;
  border: 1px solid white;
  border-radius: 10px;
}
.price {
  color: #f17228;
}
.foodimage {
  width: 137px;
  height: 104px;
}
.canvasheader {
  padding-left: 160px;
  color: #b6b4b4;
}
.reserve {
  border: white;
  background-color: #f17228;
  color: white;
  width: 80%;
  height: 35px;
  margin-bottom: 100px;
  margin-left: 30px;
}
